.resultsList {
  display: grid;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.resultCount {
	font-family: 'Gotham, Gotham-Light';
  color: var(--token-color-colour-brand-red);
  font-weight: 200;
  font-size: 3.2rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.metaContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.container {
  display: grid;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 3fr;
  }
}
